<div class="erb">
  <ul>
    <% @dives.each do |dive| %>
      <li>
        <h3 class='active'>
          <%= link_to Divesite.where(id: dive.divesite_id).name, dive_path(dive) %>
        </h3>

        <p>Date: <%= dive.datetime %> </p>
        <p>Air Temperature: <%= dive.air_temp %> </p>
        <p>Water Temperature: <%= dive.water_temp %> </p>
        <p>Wave Height: <%= dive.wave_height %> </p>
        <p>Wind Speed: <%= dive.wind_speed %> </p>
        <p>Wind Direction: <%= dive.wind_direction %> </p>
        <p>Weather Description: <%= dive.weather_description %> </p>
        <p>Precipitation: <%= dive.precipitation %>mm </p>
      </li>
    <% end %>
  </ul>
</div>
